*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(50, 46, 99);
   padding: 3.5rem 2rem 1.5rem 2rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.calc{

}
.span{
  display: grid;
  grid-template-columns: 8rem 6.8rem 6rem;
}
.logo{
    font-size: 2.3rem;
    color: white;
    font-weight: 800;
}
.theme{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1.5rem;

}
.switch{
    margin-top: 1.5rem;
 background-color: rgb(27, 27, 50);
 height: 2rem;
 width: 5rem;
 border-radius: 30px;
}
.orange{
    background-color: orangered;
    height: 1.3rem;
    border-radius: 40px;
    width: 1.3rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
}
.calculator{
    display: grid;
    grid-template-rows: 4rem 24rem;
    grid-template-columns:20rem;
    margin-top: 3rem;
    row-gap: 2rem;
}
.head{
   
    background-color: rgb(27, 27, 50);
    border-radius: 10px;
}
.inner-digits{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-align: right;
    padding-right: 2rem;
}
.body{
    background-color: rgb(27, 27, 50);
    border-radius: 10px;
    padding: 1.5rem 1rem 1.5rem 1rem;
}
.grid-buttons{
    display: grid;
    grid-template-columns: 3.5rem 3.5rem 3.5rem 4rem;
    grid-template-rows: 3.8rem;
    column-gap: 1.1rem;
    row-gap: 1rem;
}
.button-style

{
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgb(231, 230, 230);

}

.button-style:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.first{
    grid-column-start: 3;
    grid-column-end: 1;
    background-color: rgb(97, 97, 184);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.7rem;
    border-radius: 10px;
}
.first:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    
}
.second{
    grid-column-start: 5;
    grid-column-end: 3;
     color: white;
     background-color: red;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.7rem;
    border-radius: 10px;
}
.second:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

@media screen and (min-width: 868px) {
    .calc{
        margin: auto 271rem;
    }
}





/* .light-mode{
    background-color: #f2f2f2;
    color: #333;
}
.dark-mode{
    background-color: #333;
    color: #f2f2f2;
}
button{
     transition: background-color 0.5s, color 0.5s;
} */